<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--<context:annotation-config />-->
    <!-- 开启自动扫描
        use-default-filters="false"：禁用对注解的扫描，使用自定义的方式进行扫描
        use-default-filters="false"
        -->
    <context:component-scan base-package="com.atzyy" >
        <!--
            自动扫描包含哪些包
            <context:include-filter type="annotation" expression=""/>
         -->
        <!--
            type 有如下几个属性：
                annotation：扫描注释
                assignable：类或接口
                aspectj：aspectj 类型的表达式
                regex：正则表达式
                custom：org.springframework.core.type .TypeFilter 接口的实现类
                <context:include-filter type="regex" expression="com.atzyy.service.*"/>
         -->

    </context:component-scan>



    <bean id="helloService" class="com.atzyy.service.HelloService" init-method="init">
        <property name="name" value="name"/>
    </bean>

</beans>